<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<h1>New Game</h1>

<%= form_with(url: '/score', method: 'post') do |form| %>
  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>

  <%= form.submit 'Submit' %>
<% end %>
